#1.Read input as number and print the output as yes or no if dividble by 3 and 5.

In [0]:
#include<stdio.h>
main()
{
	int x;
    printf("Enter number:");
    scanf("%d",&x);
if(x%3==0 && x%5==0)
{
printf("YES");
}
else
{
	printf("No");
}
}

# 2.Read a character as input and print as "upper case","Lower case","digit".
    test case:
    A--Upper
    z--lower
    8--digit

In [0]:
#include<stdio.h>
main()
{
	char x;
    printf("Enter a Character:");
    scanf("%c",&x);
if(x >= 65 and x <= 90) 
{
printf("Upper case");
}
else if(x >= 97 and x <= 122)
{
	printf("Lower case");
}
else 
{
	printf("Digit");
}
}

In [0]:
#Switch
#include<stdio.h>
main()
{
	char n;
    printf("Enter character:");
    scanf("%c",&n);
switch(n)
{
case 'a':printf("Vowel");
break;
case 'e':printf("Vowel");
break;
case 'i':printf("Vowel");
break;
case 'u':printf("Vowel");
break;
case 'o':printf("Vowel");
break;
default :
printf("Consonant");
break;
}
}

# 3.read input as character and print the output as "vowel" or "consonant"

In [0]:
include<stdio.h>
main() 
{ 
    char x;
  printf("Enter a Character:"); 
 scanf("%c",&x); 
 if(x=='a'||x=='e'|| x=='i'||x=='o'||x=='u') 
 {
      printf("Vowel");
   } 
 else 
 {
      printf("Consonant");
   } 
 }

# 4.Read numbers 1 to 7 and print as week of day

In [0]:
#include<stdio.h>
main()
{
	int n;
    printf("Enter number:");
    scanf("%d",&n);
switch(n)
{
case 1:printf("Sunday");
break;
case 2:printf("Monday");
break;
case 3:printf("Tue");
break;
case 4:printf("Wed");
break;
case 5:printf("Thur");
break;
case 6:printf("Fri");
break;
case 7:printf("Sat");
break;
}
}

In [0]:
#include<stdio.h>
main()
{
	int x,y,z;
    printf("Enter number:");
    scanf("%d %d %d");
if(x>y && x>z)
{
printf("%d",(y*z));
}
else if(y>x&&y>z)
{
printf("%d",(x*z));
}
else 
{
printf("%d",(x*y));
}
}

#DAY-9

# 5.Read a number as input and print the digits.

In [0]:
#include<stdio.h>
main()
{
	int n,x;
    printf("Enter number:");
    scanf("%d",&n);
    while(n!=0)
    {
    	x=n%10;
    	printf("%d",x);
    	n=n/10;
	}
}

#6. read the number as input and read the output as large digits of number.
 Test case:
 - 89261--9
 - 15762--7

In [0]:
#include<stdio.h>
main()
{
	int n,rem,max;
	scanf("%d",&n);
	while(n!=0)
	{
		rem=n%10;
		if(max<rem)
		{
			max=rem;
		}
		n=n/10;
	}
	printf("Largest number is :%d",max);
}

#7.Read the input and print the output as largest digit from last three position.
 test case:
 - 89261--6
 - 97862--8

In [0]:
#include<stdio.h>
main()
{
	int n,rem,max,count=3;
	scanf("%d",&n);
	while(count!=0)
	{
		rem=n%10;
		if(max<rem)
		{
			max=rem;
		}
		n=n/10;
		count--;
	}
	printf("Largest number is :%d",max);
}

#8.Read the number as input and print as output as following:\
 Test case:
 - 89261--<1,9>
 -97268--<2,9>

In [0]:
#include<stdio.h>
main()
{
	int n,rem,min=9,max;
	scanf("%d",&n);
	while(n!=0)
	{
		rem=n%10;
		if(max<rem)
		{
			max=rem;
		}
		n=n/10;
	}
	if(min>rem)
		{
			min=rem;
		}
	printf("<%d,%d>",min,max);
}

#9.Read number as input and read the output as :
test case:
- 145--five four one
- 1502--two zero five one

In [0]:
#include<stdio.h>
main()
{
	int x,n;
    printf("Enter number:");
    scanf("%d",&x);
    while(x!=0)
{
	n=x%10;
switch(n)
{
case 0:printf("zero ");
break;
case 1:printf("one ");
break;
case 2:printf("two ");
break;
case 3:printf("Three ");
break;
case 4:printf("Four ");
break;
case 5:printf("Five ");
break;
case 6:printf("Six ");
break;
case 7:printf("Seven ");
break;
case 8:printf("Eight ");
break;
case 9:printf("Nine ");
break;
}
x=x/10;
}
}

#10.Read input asnumber and print the output as sum of even numbers:
test case:
- 1889--16

In [0]:
#include<stdio.h>
main()
{
	int sum=0,x,n;
    scanf("%d",&x);
    while(x!=0)
{
	n=x%10;
	if(n%2==0)
	{
		sum=sum+n;
	}
	x=x/10;
}
printf("sum is:%d",sum);
}

#11.Factors of a number.
test case:
- 6--1 2 3 6

In [0]:
#include<stdio.h>
main()
{
	int x,n,i;
    scanf("%d",&x);
    for(i=1;i<x;i++)
    {
	   if(x%i==0)
    {
    	printf("%d\t",i);
	}
	}
}

#12.Test case:
- 1889 -- 5
- 12364 -- 2
- 1277 --0
-1591 -- 1

In [0]:
#include<stdio.h>
main()
{
	int x,rem,sum=0;
    scanf("%d",&x);
    while(x!=0)
    {
    	rem=x%10;
    	switch(rem)
{

case 0:sum=sum+1;//circle
break;
case 4:sum=sum+1;//triangle
break;
case 6:sum=sum+1;
break;
case 8:sum=sum+2;//2 circles
break;
case 9:sum=sum+1;
break;
}
x=x/10;
	}
	printf("%d",sum);
}

In [0]:
#13.Palindrome -yes
else-no

In [0]:
#include<stdio.h>
main()
{
	int n,x,rem,rev=0;
    scanf("%d",&x);
    n=x;
    while(x!=0)
    {
    rem=x%10;
    rev=rev*10+rem;
    x=x/10;
	}
	if(n==rev)
	{
		printf("palindrome");
	}
	else
	{
		printf("not");
	}
}

#14.reverse number and check prime
- Yes-prime
- no-not

In [0]:
#include<stdio.h>
main()
{
	int n,x,rem,rev=0;
    scanf("%d",&x);
    n=x;
    while(x!=0)
    {
    rem=x%10;
    rev=rev*10+rem;
    x=x/10;
	}
	if(n%1==0 && n%n==0 && rev%1==0 && rev%rev==0)
	{
		printf("Yes");
	}
	else
	{
		printf("no");
	}
}

In [0]:
//with using functions
#include<stdio.h>
int reverse(int a)
{
int rem,rev;
while(a!=0)
{
rem=a%10;
rev=rev*10+rem;
a=a/10;
}
return rev;
}

int isPrime(int a)
{
int i;
for(i=2;i<=a/2;i++)
{
if(a%i==0)
{
return 1;
}
}
return 0;
}

int main()
{
int x,rem,max=0,rev,n,i,count=0,n1,n2;
scanf("%d",&x);
n=x;
rev=reverse(x);
n1=isPrime(n);
n2=isPrime(rev);

if(n1==0 && n2==0)
{
printf("yes");
}
else
{
printf("no");
}
return 0;
}

#15.Limit of Even palindrom
test case:
- 10

In [0]:
#include<stdio.h>
int ispalindrome(int x)
{
	int rev=0,buffer=x;
	while(x!=0)
	{
		rev=rev*10+(x%10);
		x=x/10;
	}
	if(rev==buffer)
	{
		return 1;
	}
	else
	{
		return 0;
	}
}
int main()
{
	int x1,x2,i,a,cnt=0;
	scanf("%d%d",&x1,&x2);
	for(i=x1;i<+x2;i++)
	{
		if(i%2==0)
		{
			a=ispalindrome(i);
			if(a==1)
			{
				cnt++;
			}
		}
	}
	printf("%d",cnt);
	return 0;
}

#Read input and print yes if sum of factors of given number is same 
test case:
- 145 -- yes(5!+4!+1!)
- 123 --no

In [0]:
#include<stdio.h>
int fact(int n);
int reverse(int rev);
int main()
{
int count=0,x=0,i,sum=0,rem=0,n,t;

scanf("%d",&n);
t=n;
while(n!=0)
{
rem=n%10;
x=fact(rem);

sum=sum+x;

n=n/10;
}
if(sum==t)
{

printf("yes");

}
else
{
printf("no");
}
return 0;
}

int fact(int n)
{
int fact=1,i;
for(i=n;i>0;i--)
{
fact=fact*i;
}

return fact;
}

123 --
- $"***"
- $**
- $*

#include<stdio.h>
int print(int n);
int main()
{
int x=0,i,sum=0,rem=0,n,t;
scanf("%d",&n);
while(n!=0)
{
rem=n%10;
printf("$");
print(rem);
printf("\n");
n=n/10;
}

}
int print(int n)
{
int i;
for(i=n;i>0;i--)
{
printf("*");
}
}

#Read the number and sum of the power of the single digits given
test case:
- 121 -10
- 1221 -34

In [0]:
#include<stdio.h>
#include<math.h>
int main()
{
	int n,t,rem=0,sum=0,count=0;
	scanf("%d",&n);
	t=n;
	while(n!=0)
	{
	rem=n%10;
	count++;
	n=n/10;	
	}
	while(t!=0)
	{
	rem=t%10;
	sum=sum+pow(rem,count);
	t=t/10;	
	}
	printf("%d",sum);
}

#Array

Input:
- 5
- 1 2 3 4 5
- output:
0 1 0 1 0

In [0]:
#include<stdio.h>
main()
{
int n,a[100],i;
scanf("%d",&n);
for(i=0;i<n;i++)
{
	scanf("%d",&a[i]);
}
for(i=0;i<n;i++)
{
	if(a[i]%2==0)
	{
	printf("1",a[i]);
    }
	else
	{
	printf("0",a[i]);
	}
	}
}

#print small and largest number in array.

In [0]:
#include<stdio.h>
main()
{
int n,a[100],i,large,small;
scanf("%d",&n);
for(i=0;i<n;i++)
{
	scanf("%d",&a[i]);
}
large = small = a[0];
for(i=0;i<n;i++)
{
if(large<a[i])
{
	large=a[i];
}
if(small>a[i])
{
	small=a[i];
}
}
printf("<%d,%d>",small,large);
}

#145
- 1 _ 4 _  5

In [0]:
#include<stdio.h>
main()
{
int n=0,x,a[100],i;
scanf("%d",&x);
while(x!=0)
{ 	
 a[n]=x%10;
x /= 10;
n++;
}
for(i=n-1;i>=0;i--)
{
	printf("%d ",a[i]);
}
}